<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%=l(:label_news_latest)%>
    </h3>
  </div>
  <div class="panel-body">
    <%= render :partial => 'news/news', :collection => news_items %>
  </div>
</div>
