<div class="page-header">
  <h2><%= icon('gears') %><%= l(:label_settings) %></h2>
</div>

<%= render_tabs administration_settings_tabs %>

<% html_title(l(:label_settings), l(:label_administration)) -%>
