<div class="panel panel-success">
	<div class="panel-heading"><%= link_to h(document.title), document_path(document) %></div>

	<div class="panel-body">
	  <%= textilizable(truncate_lines(document.description), :object => document) %>
	</div>
	<div class="panel-footer"><em><%= format_time(document.updated_on) %></em></div>
</div>
