<div class="page-header">
	<h2><%=l(:label_document_new)%></h2>
</div>

<%= labelled_form_for @document, :url => project_documents_path(@project), :html => {:multipart => true} do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <div class="form-group">
  	<%= submit_tag l(:button_create), :class => 'btn btn-success' %>
  </div>
<% end %>
