@import bootstrap-sprockets
@import bootstrap

// General

html
	position: relative
	min-height: 100%

body
	padding-bottom: 70px

.gravatar
	border-radius: 4px

// Top Bar

#top-bar

	.gravatar
		position: relative
		margin-top: -8px
		top: 3px

// Main bar

#main-bar

	.nav-justified a
		white-space: nowrap

// Sidebar

#sidebar
	padding-top: .5em

// Footer

#footer
	position: absolute !important

// Login

#login-form, #password-lost-form, #register-form, #recover-password-form
	margin-top: 5em
	margin-bottom: 5em