@import bootstrap-sprockets
@import bootstrap

// General

html
	position: relative
	min-height: 100%

body
	padding-bottom: 70px

.gravatar
	border-radius: 4px

// Top Bar

#top-bar

	.gravatar
		position: relative
		margin-top: -8px
		top: 3px

	.navbar-brand
		border-right: 1px solid rgba(black, .3)
		border-left: 1px solid rgba(black, .3)
		box-shadow: inset -1px 0 0 rgba(white, .15), -1px 0 0 rgba(white, .15)
		position: relative
		width: 3.4em

		img
			height: 2.4em
			position: absolute
			top: .15em
			left: .6em
			width: auto

// Main bar

#main-bar

	.nav-justified a
		white-space: nowrap

// Sidebar

#sidebar
	padding-top: .5em

// Footer

#footer
	position: absolute !important

// Login

#login-form, #password-lost-form, #register-form, #recover-password-form
	margin-top: 5em
	margin-bottom: 5em