@import variables
@import bootstrap-sprockets
@import bootstrap
@import font-awesome-sprockets
@import font-awesome

// General

html
	position: relative
	min-height: 100%

body
	padding-bottom: 70px

.gravatar
	border-radius: 4px

.checkbox.pref-field input[type="checkbox"]
	position: absolute
	left: 0
	margin-left: 0

// Top Bar

#top-bar
	margin-bottom: 0

	.gravatar
		position: relative
		margin-top: -8px
		top: 3px

	.navbar-brand
		border-right: 1px solid rgba(black, .3)
		border-left: 1px solid rgba(black, .3)
		box-shadow: inset -1px 0 0 rgba(white, .15), -1px 0 0 rgba(white, .15)
		position: relative
		width: 3em

		img
			height: 2em
			position: absolute
			top: .4em
			left: .5em
			width: auto

// Main bar

#main-bar
	margin-bottom: 0

	.nav-justified a
		white-space: nowrap

// Sidebar

#sidebar
	padding-top: .5em

// Content

#content

// Footer

#footer
	position: absolute !important

// Login

#login-form, #password-lost-form, #register-form, #recover-password-form
	margin-top: 5em
	margin-bottom: 5em