<div id="block_<%= block_name.dasherize %>" class="mypage-box">
	<%= link_to icon('close'), {:action => "remove_block", :block => block_name}, :method => 'post', :class => "btn btn-danger pull-right" %>

	<div class="handle">
		<%= render :partial => "my/blocks/#{block_name}", :locals => { :user => user } %>
	</div>
</div>
